* {
	margin: 0;
	padding: 0;
}
:root {
	--primary: #fff;
	--red: #ec6e4c;
	--bg-image: url("../images/night1.jpg");
}
img {
	width: 100%;
}
html {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary);
}
.main-container {
	padding: 2rem 1.5rem 0.8rem 1.5rem;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}
.main-container::before {
	content: "";
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgb(96, 96, 96), rgb(96, 96, 96)), var(--bg-image);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		var(--bg-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	z-index: -1;
}

/* HEADER */
.error {
	color: var(--red);
	font-weight: 600;
}
.header-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	transition: all ease-in-out 0.3s;
	margin-bottom: 3.5rem;
}
.search-logo {
	width: 1.7rem;
	height: 1.7rem;
	cursor: pointer;
	position: relative;
	margin-right: 1rem;
}
.main-title {
	flex-basis: 80%;
	margin-top: 0.4rem;
	font-weight: 300;
	text-transform: uppercase;
}
.location-form {
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.5rem 0;
	transform: translateY(-1000px);
	transition: all ease-in-out 0.3s;
}
#address {
	border: none;
	outline: none;
	flex-basis: 70%;
	font-family: "Josefin Sans", sans-serif;
	padding: 0.5rem;
	border-radius: 5px;
}
.submit {
	border: none;
	outline: none;
	cursor: pointer;
	flex-basis: 10%;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 5px;
	transition: all ease-in-out 0.3s;
	background-color: var(--red);
}
.submit:hover {
	transform: scale(1.1);
	background-color: var(--red);
}
.weather-err {
	flex-basis: 100%;
	text-align: center;
	margin-top: 1.5rem;
}
.show-form {
	transform: translateY(4.8rem);
}
.mb {
	margin-bottom: 8rem;
}
.close-form::before {
	content: "x";
	position: absolute;
	left: 95%;
	top: -40%;
	width: 100%;
	height: 100%;
	font-weight: 400;
	color: var(--red);
}

/* CURRENT MAIN */
.weather-icon-cont {
	width: 100px;
	transform: translateY(-25px);
}
.main-info {
	display: flex;
	flex-flow: row nowrap;
	text-transform: uppercase;
	font-size: 1.1rem;
}
.temp-cont,
.temp-info {
	flex-basis: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}
.temp-cont {
	text-align: center;
}
.location,
.date,
.temp {
	width: 100%;
	font-weight: 400;
}
.date {
	margin-top: 0.5rem;
	font-weight: 300;
}
.temp {
	font-size: 3.5rem;
	font-weight: 300;
	margin-top: 1rem;
}
.temp-desc {
	transform: translateY(-25px);
	text-transform: lowercase;
}

/* CURRENT OTHER */
.other-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1.5rem 0 0.5rem 0;
	font-size: 1.2rem;
	border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	margin-top: 1rem;
}
.l-info {
	flex-basis: 50%;
	margin-bottom: 1.5rem;
}
.info-val {
	margin-bottom: 0.5rem;
}

/* DAILY */
.daily-cont {
	margin-top: 2.2rem;
}
.daily-header {
	text-align: center;
	margin-bottom: 1.5rem;
	width: 100%;
}
.daily {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	border: 1.5px solid var(--primary);
	border-radius: 10px;
	margin-bottom: 0.5rem;
	padding: 0 1rem;
}
.daily-icon {
	width: 70px;
}
.daily-temp {
	font-weight: 600;
	font-size: 1.4rem;
}
.daily-desc {
	flex-basis: 100%;
	text-align: center;
	transform: translateY(-50%);
}
.daily-date {
	font-size: 1rem;
}

/* FOOTER */
.credits {
	text-align: center;
	padding: 1.5rem 0 0.5rem 0;
	margin-top: 2.5rem;
	border-top: 2px solid var(--primary);
	font-size: 0.9rem;
}
.credit {
	margin-bottom: 0.8rem;
}
.credits a {
	color: var(--red);
	font-weight: 600;
}
.loading {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* TABLET LAYOUT */
@media screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
	.main-container {
		max-width: 800px;
		overflow-x: hidden;
	}
	.main-info {
		max-width: 63%;
		margin: 0 auto;
	}
	.search-logo {
		margin-right: 2rem;
		cursor: default;
	}
	.close-form::before {
		content: "";
	}
	.mb {
		margin-bottom: 0;
	}
	.header-cont {
		padding: 0 1rem;
		margin-bottom: 4.5rem;
	}
	.location-form {
		width: 40%;
		transform: translate(100%, 0%);
	}
	.weather-err {
		position: absolute;
		top: 65%;
		width: 100%;
	}
	.other-info {
		padding-top: 2rem;
	}
	.l-info {
		flex-basis: 16%;
	}
	.daily-cont {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.daily {
		flex-basis: 44%;
	}
	.loading {
		transform: translate(-50%, -30%);
	}
}

/* DESKTOP LAYOUT */
@media screen and (min-width: 992px) {
	html {
		font-size: 20px;
	}
	.main-container {
		max-width: 1100px;
		padding: 3rem 3rem 0 3rem;
	}
	.location-form {
		transform: translate(120%, 0%);
	}
	.mb {
		margin-bottom: 0;
	}
	.header-cont {
		margin-bottom: 4.5rem;
	}
	.current {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	.main-info {
		max-width: 100%;
		width: 100%;
		flex-basis: 50%;
	}
	.other-info {
		border: none;
		border-left: 2px solid var(--primary);
		justify-content: space-evenly;
		flex-basis: 50%;
		padding-left: 0.7rem;
	}
	.l-info {
		flex-basis: 30%;
	}
	.other-info div:nth-child(4) {
		order: 6;
	}
	.header-cont {
		padding: 0;
	}
	.weather-icon-cont {
		transform: translateY(-36%);
	}
	.temp-cont {
		justify-content: space-evenly;
	}
	.temp-desc {
		padding: 0 0.5rem;
	}
	.daily-header {
		font-size: 1.5rem;
	}
	.daily {
		flex-basis: 24%;
		padding: 0;
		justify-content: center;
		height: 160px;
	}
	.daily-date {
		flex-basis: 100%;
		text-align: center;
		font-size: 1rem;
	}
	.daily-desc {
		transform: translateY(-25%);
		font-size: 0.9rem;
	}
	.daily-temp {
		font-size: 1.6rem;
		margin-right: 0.6rem;
	}
	.temp {
		font-size: 4rem;
		margin-top: 1rem;
	}
}
